<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Utils.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>BagsController</servlet-name>
        <servlet-class>Controller.BagsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexController</servlet-name>
        <servlet-class>Controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageController</servlet-name>
        <servlet-class>Controller.PageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderController</servlet-name>
        <servlet-class>Controller.SliderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>Controller.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutController</servlet-name>
        <servlet-class>Controller.AboutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamController</servlet-name>
        <servlet-class>Controller.TeamController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>Controller.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageController</servlet-name>
        <servlet-class>Controller.SendMessageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>DbConnection.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BagsController</servlet-name>
        <url-pattern>/BagsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexController</servlet-name>
        <url-pattern>/IndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
        <!--        <url-pattern>/dashboard</url-pattern>-->
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageController</servlet-name>
        <url-pattern>/PageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderController</servlet-name>
        <url-pattern>/SliderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/BuyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutController</servlet-name>
        <url-pattern>/AboutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamController</servlet-name>
        <url-pattern>/TeamController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageController</servlet-name>
        <url-pattern>/SendMessageController</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404</location>
    </error-page>
<!--<resource-ref>
        <description>DB Connection</description>
        <res-ref-name>connpool</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
</resource-ref>-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>
</web-app>
